In [22]:
# import the pandas library
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f',
'h'],columns=['one', 'two', 'three'])



df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])

print (df)

        one       two     three
a  2.443458 -2.315771 -0.722633
b       NaN       NaN       NaN
c  0.686578 -0.519360 -1.693548
d       NaN       NaN       NaN
e -0.922211  1.025129  0.234079
f -0.618684  0.377430 -1.526810
g       NaN       NaN       NaN
h -0.633713 -0.859424  1.490255

In [23]:
print(df.isnull)

df.isnull().values.any()


df.isnull().sum()


df.isnull().sum().sum()

<bound method DataFrame.isnull of         one       two     three
a  2.443458 -2.315771 -0.722633
b       NaN       NaN       NaN
c  0.686578 -0.519360 -1.693548
d       NaN       NaN       NaN
e -0.922211  1.025129  0.234079
f -0.618684  0.377430 -1.526810
g       NaN       NaN       NaN
h -0.633713 -0.859424  1.490255>

9

In [24]:

print (df.fillna(0))

        one       two     three
a  2.443458 -2.315771 -0.722633
b  0.000000  0.000000  0.000000
c  0.686578 -0.519360 -1.693548
d  0.000000  0.000000  0.000000
e -0.922211  1.025129  0.234079
f -0.618684  0.377430 -1.526810
g  0.000000  0.000000  0.000000
h -0.633713 -0.859424  1.490255

In [25]:
print (df.fillna(method='pad'))

        one       two     three
a  2.443458 -2.315771 -0.722633
b  2.443458 -2.315771 -0.722633
c  0.686578 -0.519360 -1.693548
d  0.686578 -0.519360 -1.693548
e -0.922211  1.025129  0.234079
f -0.618684  0.377430 -1.526810
g -0.618684  0.377430 -1.526810
h -0.633713 -0.859424  1.490255

Data filling techniques 
https://towardsdatascience.com/how-to-fill-missing-data-with-pandas-8cb875362a0d

In [65]:
df = pd.DataFrame({'date':['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04','2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04'], 'fruit':['apple', 'apple', 'apple', 'apple', 'mango', 'mango', 'mango', 'mango'], 'price': [0.80, None, None, 1.20, None, 3.10, None, 2.80]})
df['date'] = pd.to_datetime(df['date'])

print(df)
df.dtypes

#df['price'] = df.groupby('fruit')['price'].ffill().bfill()
#print(df)

df['price'] = df.groupby('fruit')['price'].bfill().ffill()
print(df)

        date  fruit  price
0 2021-01-01  apple    0.8
1 2021-01-02  apple    NaN
2 2021-01-03  apple    NaN
3 2021-01-04  apple    1.2
4 2021-01-01  mango    NaN
5 2021-01-02  mango    3.1
6 2021-01-03  mango    NaN
7 2021-01-04  mango    2.8
        date  fruit  price
0 2021-01-01  apple    0.8
1 2021-01-02  apple    1.2
2 2021-01-03  apple    1.2
3 2021-01-04  apple    1.2
4 2021-01-01  mango    3.1
5 2021-01-02  mango    3.1
6 2021-01-03  mango    2.8
7 2021-01-04  mango    2.8

Fill with Constant Value

In [57]:
df['price'].fillna(value = 0.85, inplace = True)
print(df)

        date  fruit  price
0 2021-01-01  apple   0.80
1 2021-01-02  apple   0.85
2 2021-01-03  apple   0.85
3 2021-01-04  apple   1.20
4 2021-01-01  mango   0.85
5 2021-01-02  mango   2.10
6 2021-01-03  mango   2.00
7 2021-01-04  mango   1.80

Fill with Mean / Median of Column

In [28]:
# mean
df['price'].fillna(value = df.price.mean(), inplace = True)
print(df)

        date  fruit  price
0 2021-01-01  apple   0.80
1 2021-01-02  apple   0.85
2 2021-01-03  apple   0.85
3 2021-01-04  apple   1.20
4 2021-01-01  mango   0.85
5 2021-01-02  mango   2.10
6 2021-01-03  mango   2.00
7 2021-01-04  mango   1.80

In [29]:
# median
df['price'].fillna(value = df.price.median(), inplace = True)
print(df)

        date  fruit  price
0 2021-01-01  apple   0.80
1 2021-01-02  apple   0.85
2 2021-01-03  apple   0.85
3 2021-01-04  apple   1.20
4 2021-01-01  mango   0.85
5 2021-01-02  mango   2.10
6 2021-01-03  mango   2.00
7 2021-01-04  mango   1.80

Fill with Mean / Median of Group

In [44]:
# mean
df['price'].fillna(df.groupby('fruit')['price'].transform('mean'), inplace = True)
print(df)
# median
df['price'].fillna(df.groupby('fruit')['price'].transform('median'), inplace = True)
print(df)
df.dtypes

        date  fruit     price
0 2021-01-01  apple  0.800000
1 2021-01-02  apple  1.000000
2 2021-01-03  apple  1.000000
3 2021-01-04  apple  1.200000
4 2021-01-01  mango  1.966667
5 2021-01-02  mango  2.100000
6 2021-01-03  mango  2.000000
7 2021-01-04  mango  1.800000
        date  fruit     price
0 2021-01-01  apple  0.800000
1 2021-01-02  apple  1.000000
2 2021-01-03  apple  1.000000
3 2021-01-04  apple  1.200000
4 2021-01-01  mango  1.966667
5 2021-01-02  mango  2.100000
6 2021-01-03  mango  2.000000
7 2021-01-04  mango  1.800000

date     datetime64[ns]
fruit            object
price           float64
dtype: object

Forward Fill

In [31]:
df['price'].fillna(method = 'ffill', inplace = True)

the data science and prcoessing  
https://www.w3schools.com/python/python_ml_mean_median_mode.asp

Reading CSV and the functioanlity

In [67]:
import pandas as pd
data = pd.read_csv('diabetes.csv')

print (data)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age  Outcome
0                       0.627   50        1
1                       0.351   31        0
2                       0.672   32        1
3                       0.167   21        0
4                       2.288   33        1
..                        ...  ...      ...
763                     0.171   63        0
764                     0.340   27        0
765                     0.245   30        0
766                     0.349   47        1
767                     0.315   23        0

[768 rows x 9 columns]

In [68]:

# Slice the result for first 5 rows
print (data[0:5]['Glucose'])

0    148
1     85
2    183
3     89
4    137
Name: Glucose, dtype: int64

In [69]:
# Use the multi-axes indexing funtion
print (data.loc[:,['Glucose','BloodPressure']])

     Glucose  BloodPressure
0        148             72
1         85             66
2        183             64
3         89             66
4        137             40
..       ...            ...
763      101             76
764      122             70
765      121             72
766      126             60
767       93             70

[768 rows x 2 columns]

In [70]:
# Use the multi-axes indexing funtion
print (data.loc[[1,3,5],['Glucose','BloodPressure']])

   Glucose  BloodPressure
1       85             66
3       89             66
5      116             74

In [71]:
# Use the multi-axes indexing funtion
print (data.loc[2:6,['Glucose','BloodPressure']])

   Glucose  BloodPressure
2      183             64
3       89             66
4      137             40
5      116             74
6       78             50